<div class="pimg1">


    <div class="ptext animated fadeIn">
        <span class="border trans">
                <p id="title"> QUALITY LABOUR HIRE</p>
                </span>
    </div>

</div>
</div>
<section class="section section-dark">

<p class = "montserrat orange-text text-lighten-2"style=" font-size:20px;text-decoration:underline;">Welcome to Quality Labour Hire Ltd</p>
<p class="flow-text railway " style="font-size:14px;">The labour hire specialists for your needs. Providing labour and staff for your events taking place in Auckland and NZ. We work together with you to meet the demands. Whether you are a venue, production company or supplier, we work to deliver the best labour hire experience. We have a strong and competent crew to work on projects year-round.</p>
<p class = "montserrat orange-text text-lighten-2"style=" font-size:20px;text-decoration:underline;">Short or Long Term, We Deliver It All</p>
<p class="flow-text railway " style="font-size:14px;">We supply crew for any period of time, from a few hours to a few days and can supplement your existing crew.</p>
<p class = "montserrat orange-text text-lighten-2"style=" font-size:20px;text-decoration:underline;">A Commitment to Complete Health & Safety</p>
<p class="flow-text railway " style="font-size:14px;">QLH management work hard to ensure we uphold current Health and Safety legislations and provide an up to date policy for peace of mind. 
</p>



</section>
<div class="pimg2">

</div>

<section class="section section-dark">
<div class = "row">
  <div class ='col s12'>
  <p class = "montserrat orange-text text-lighten-2"style=" font-size:20px;text-decoration:underline;"> Quality Labour Hire Ltd offers Great Customer Service​</p>
<p class="flow-text railway " style="font-size:14px;"​>Quality Labour Hire Ltd supplies labour with a friendly, positive attitude and experience to every event. We match the right crew to your event, who work to your specifications. Your event is your biggest asset, the crew we supply is ours. Together we strive to ensure your expectations are exceeded.</p>

​</div>
<div class = "col s12 center-align">
<p class = "montserrat orange-text text-lighten-2"style=" font-size:20px;text-decoration:underline;">General Crew</p>
  

<p class=" railway " style="font-size:14px;">We bring a hard-working, dedicated team to every event, and work NZ wide providing event crew and services in towns and cities including:​</p>
</div>​
<div class = "col s12 center-align">
<p class = "montserrat orange-text text-lighten-2"style=" font-size:20px;text-decoration:underline;">Skilled Crew</p>
​
<span class="railway " style="font-size:14px;">At Quality Labour Hire Ltd we believe in precision, and supply a range of skilled labour including: Marquee and stage structures, fork truck operators, EWAP operators, truck drivers, hammerhands, general labour and cleaners.</span>
</div>
</div>
 

</section>

<div class="pimg3">

</div>
<section class="section section-dark">
<div class = "row">
  <div class ='col s12'>
  <p class = "montserrat orange-text text-lighten-2"style=" font-size:20px;text-decoration:underline;"> Our Difference​</p>
<p class="flow-text railway " style="font-size:14px;"​>Quality Labour Hire Ltd is New Zealand’s premier event labour supplier, working in one of the most modern, demanding and exciting industries. Quality Labour Hire Ltd are passionate about the industry and are excited to be involved with each and every event we are involved in.
​</p>
<p class="flow-text railway " style="font-size:14px;"​>
Quality Labour Hire Ltd was formed in 2014 by experienced event professionals to ensure New Zealand events are crewed with the best staff with full compliance of all health and safety requirements. 
</p>
<p class="flow-text railway " style="font-size:14px;"​>
We bring a hard-working, dedicated team to every event, and work NZ wide providing event crew and services in towns and cities including:​</p>
  </div>

<div class = "col s6 center-align">
  <ul>
<li style="text-decoration:underline;">North Shore</li>
<li style="text-decoration:underline;">Auckland</li>
<li style="text-decoration:underline;">West Auckland</li>
<li style="text-decoration:underline;">South Auckland</li>
  </ul>
</div>​
<div class = "col s6 center-align">

  <ul>
<li style="text-decoration:underline;">Hamilton & Waikato</li>
<li style="text-decoration:underline;">Tauranga </li>
<li style="text-decoration:underline;">Bay of Islands & Northland</li>

  </ul>
</div>
<div class = "col s12 center-align">
    <p class = "montserrat white-text "style=" font-size:20px;"><a href="/register"  style="text-decoration:underline;"class = "montserrat orange-text text-lighten-2">Sign-Up</a> today and gain access to our world class employee management system.</p>

</div>
</div>
​
 
</section>

<div class="pimg1">
    <div class="ptext">
        <span class="border trans">
                   
                   <p> AUCKLAND, CBD T8N 2X4</p>
                   <p><a href="tel:0292 009 016"> TEL| 0292 009 016</a></p>
                   <p><a href="tel:021 778 574"> MOBILE| 021 778 574</a></p>
                   <p><a href="mailto:hannah@qualitylabourhire.co.nz?Subject=Inquiry" target="_top"> EMAIL| hannah@qualitylabourhire.co.nz</a></p>
                   
                </span>
    </div>

