<div class = "container blue-grey lighten-3">
<div class = "row blue-gray">
    <div ng-show="image1" class = "col s12 center-align animated fadeIn">
        <br>
        <img ng-click="changeImage()" class="responsive-img"src="https://preview.ibb.co/iJMhdo/Plackard.png">
               <br>
        <br
        >
         <br>
        <br
        >
    </div>
    <div ng-show="image2" class = "col s12 center-align animated fadeIn">
        
        <br>
        <img ng-click="changeImage()" class="responsive-img"src="https://preview.ibb.co/jM5eM8/Untitled_10.jpg">
               <br>
        <br
        >
         <br>
        <br
        >
    </div>
     
      <div ng-show="image3"class = "col s12 center-align animated fadeIn">
     
        <br>
        <img  ng-click="changeImage()" class="responsive-img"src="https://preview.ibb.co/ncTDW8/Employee_Profile.png">       <br>
        <br
        >
         <br>
        <br
        >
    </div>
      <div ng-show="image4" class = "col s12 center-align animated fadeIn">
     
        <br>
        <img  ng-click="changeImage()" class="responsive-img"src="https://preview.ibb.co/f2QSr8/clientprofile.png">
               <br>
        <br
        >
         <br>
        <br
        >
    </div>
      <div ng-show="image5" class = "col s12 center-align animated fadeIn">
        <br>
        <img  ng-click="changeImage()" class="responsive-img"src="https://preview.ibb.co/bF9t18/abook.png">
               <br>
        <br
        >
         <br>
        <br
        >
    </div>
    <div  ng-show="image6"class = "col s12 center-align animated fadeIn">
        <br>
        <img  ng-click="changeImage()"class="responsive-img"src=" https://preview.ibb.co/jJxP8o/AMessages.png">
               <br>
        <br
        >
         <br>
        <br
        >
    </div>
           <div ng-show="image7"class = "col s12 center-align animated fadeIn">
        <br>
        <img ng-click="changeImage()" class="responsive-img"src="https://preview.ibb.co/gxLP4T/Amanagetimesheets.png">
               <br>
        <br
        >
         <br>
        <br
        >
    </div>
           <div ng-show="image8" class = "col s12 center-align animated fadeIn">
        <br>
        <img  ng-click="changeImage()" class="responsive-img"src="https://preview.ibb.co/kcMvET/dtimesheet.png
">
       <br>
        <br
        >
         <br>
        <br
        >
    </div>
         <div ng-show="image9" class = "col s12 center-align animated fadeIn">
        <br>
        <img  ng-click="changeImage()" class="responsive-img"src="https://preview.ibb.co/jDarM8/metricspage.png
">
       <br>
        <br
        >
         <br>
        <br
        >
    </div>
     <div ng-show="image10"class = "col s12 center-align animated fadeIn">
        <br>
        <img ng-click="changeImage()" class="responsive-img"src="https://preview.ibb.co/fa4qdo/Untitled_11.png">
               <br>
        <br
        >
         <br>
        <br
        >
    </div>
             <div ng-show="image11" class = "col s12 center-align animated fadeIn">
       
        <br>
        <img  ng-click="changeImage()" class="responsive-img"src="https://preview.ibb.co/gxLP4T/Amanagetimesheets.png">
               <br>
        <br
        >
         <br>
        <br
        >
    </div>
      <div ng-show="image12" class = "col s12 center-align animated fadeIn">
       
        <br>
        <img  ng-click="changeImage()" class="responsive-img"src="https://preview.ibb.co/fywWjT/Amanagetimeopen.png">
        <br>
        <br
        >
         <br>
        <br
        >
    </div>
<br>
    
</div>
</div>
<script>
    $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
  </script>