<div class = "container">
    <div class = "row">
        <div class = "col s12 center-align animated fadeIn">
            <p class = "montserrat underline" style="font-size:20px;"> Quality Labour Hire Terms And Conditions</p>

        </div>
        <div class = "col s12 left-align" style="height:500px; overflow-y:auto; border:1px solid #ddd; ">
            <img src="https://image.ibb.co/n7htKy/QLH_Logo.png" alt="QLH_Logo" border="0">
            <h3 class = "railway underline"> CASUAL INDIVIDUAL EMPLOYEMENT AGREEMENT </h3>
            <p class = "railway"> Quality Labour Hire Limited (QLH) will provide the Client with goods and services in accordance with these Terms and Conditions 
                of Trade.</p>
              <p class = "railway"><strong>NOTE</strong> The contract forms the basis on which QLH sells goods and services to the client and each such sale shall be 
              subject to the provisions of the contract and all invoices are incorporated into the contract.</p>
               <p class = "railway"><strong>AGREEMENT</strong></p>     
                <p class = "railway">1.   Background</p>
                <p class = "railway">1.1 The terms and conditions which are set out below and as provided in the schedules attatched form the<span style="text-decoration:bold;"> Casual Individual Employment Agreement</span> between the parties.</p>
                 <p class = "railway">1.2 This "Casual Individual Employment Agreement" is an individual employment agreement entered into under the Employment Relations Act 2000. The parties to this agreement agree that the nature
                     of the relationship is a casual "as and when required" employment relationship. The Employer is not required to offer the Employee work at any time, and the Employee is entitled to accept or reject any offer of work. 
                     The duration of this casual agreement is as follows.
                 </p>
                  <p class = "railway">1.3 The Employee is to initial the bottom of each page and sign at the end of the Agreement to indicate that they have read, understood and agree to the contents of this agreement.</p>
  
                 <p class = "railway">2. Duties and Obligations of the Parties</p>
                  <p class = "railway">2.1 The employee wil:</p>
                  <ul>
                      <li>a) Perform their duties with all reasonable skill and dilligence; and</li>
                      <li>b) Conduct their duties in the best interests of the employer and the employment relationship.</li>
                      <li>c) Take ll practical steps to perform their duties in a way that is safe and healthy for themselves and others and</li>
                      <li>d) Deal with the Employer in good faith.</li>
                  </ul>
                  <p class = "railway">2.2 The Employer will:</p>
                    
                                    <ul>
                      <li>a) Take all practical steps to provide the Employee with a safe and healthy work environment, and</li>
                      <li>b) Deal with the Employee in good faith.</li>
                     
                  </ul>
                    <p class = "railway">3. Warranties</p>
                     <p class = "railway">3.1 The Employee warrants that:</p>
                                     <ul>
                      <li>a) All representations, whether oral or in writing ade by them as to qualifications and experience in applying for this position are tru and complete, and</li>
                      <li>b) They have disclosed to the Employer and injuries and/or illnesses previously suffered that may affect their ability to reffectively carry out the functions and responsibilities of the position.</li>
                      <li>c) If the information requested by the Employer relating to this casual employemnt is not supplied or if the information supplied is found to be incorrect or misleading, the Employee shall face disciplinary action, up to and including termination of this casual employment agreement.</li>


                  </ul>
                 <p class = "railway "> Part B – Specific Terms</p>
<p class = "railway">4. Position and Location</p>
<p class = "railway">4.1 Due to the casual nature of this agreement, the duties the Employee will be
required to perform may vary between assignments. As a guide a position
description is set out in Schedule 2. At the time the work is offered the
Employer will brief the Employee as to their requirements.</p>
<p class = "railway">4.2 The Employee will be advised of the location at the time the casual work is
offered.</p>
<p class = "railway">5. Hours of Work</p>
<p class = "railway">5.1 The parties agree that because the Employee is being employed on an as
required basis, the Employee has no fixed hours of work, nor any minimum
number of hours of work. The hours of work and days to be worked will be as
agreed between the Employer and Employee from time to time. The Employee
shall take all reasonable steps to be available when required.</p>
<p class = "railway">5.2 Punctuality is important. The Employee is to be prepared and ready to
commence work at the specified starting time on each day. If the Employee is
unable to attend work on any day or if the Employee will be late for work, then
they shall personally advise the Employer by text as soon as possible before the
first date of absence. </p>
<p class = "railway">6. Wages (including annual leave)
<p class = "railway">6.1 The Employer shall, instead of paying the Employee during any periods of
annual leave, pay the Employee’s holiday pay at the same time as their wage 
Casual Employment Agreement Initials: / Page 4 of 11
payments. The amount of holiday pay is set out in Schedule 1 which shall be
paid less tax, at the same time as the Employee’s wage payments.
<p class = "railway">6.2 The number of hours paid will be in accordance with timesheets submitted and
approved on a daily basis.
<p class = "railway">6.3 Wages amount is confidential between the parties and is to be kept
confidential.
<p class = "railway">6.4 In the event of termination of employment, the signing of this agreement
provides the Employer with the authority required to deduct from the final pay
whatever monies it may be owed under the employment relationship.
Part C – General Terms
<p class = "railway">7. Meal Break</p>
<p class = "railway">7.1 The parties agree that after 5 hours of work, or at any time agreed between the
parties, the Employee shall be entitled to an unpaid meal break of 30 minutes.</p>
<p class = "railway">8. Leave
Annual leave
Refer clause 6 of this agreement.</p>
<p class = "railway">8.1 Sick and bereavement leave</p>
<p class = "railway">a) The Employee shall be entitled to five days’ sick leave if they have worked
for six months at an average of at least 10 hours per week and at least
one hour per week or 40 hours per month. The employee shall be
entitled to an additional five days’ sick leave for each 12 month period
after this date as long as the criteria above continue to apply to a
maximum of 10 days accrued sick leave.. Sick leave can be taken where
the Employee is sick, or where the Employee’s spouse or a person who is
dependent on the Employee is sick or injured.</p>
<p class = "railway">b) The assessment of whether the Employee qualifies for sick leave and
bereavement leave will be made after the Employee has been employed
with the Employer for six months (and each subsequent 12 month period)
despite the number and length of agreements that have covered these
periods of employment.</p>
<p class = "railway">c) The Employee will ensure they notify the Employer of absence due to
sickness or bereavement prior to the normal starting time of work on the
first and any subsequent day’s absence by phoning the person they
report to, giving reason for and expected duration of absence. If this is
Casual Employment Agreement Initials: / Page 5 of 11
not done sick pay may not be given. Notification by text message or email
is not acceptable.</p>
<p class = "railway">d) Where the Employee has taken sick leave and has been absent from work
for at least three consecutive calendar days, the Employer shall be
entitled to require the Employee to provide proof of entitlement to sick
leave, at the Employee’s cost before paying for sick leave.</p>
<p class = "railway">e) The Employer shall also be entitled to require the Employee to provide
proof of entitlement to sick leave within the three day period. The
Employer will inform the Employee as early as possible that such proof
will be required and agree to meet any reasonable expenses in getting
this proof.</p>
<p class = "railway">f) The Employee shall be entitled to three days’ bereavement leave on the
death of your spouse (including a de facto spouse), parent, child, sibling,
grandparent, grandchild, or spouse’s parent. This clause and clause (g) to
be read in conjunction with clause (b) above.</p>
<p class = "railway">g) The Employee shall be entitled to one days’ bereavement leave on the
death of any other person if the Employer accepts that the Employee has
suffered a bereavement taking into account the closeness of the
association between the Employee and the deceased person and/or
whether the Employee has cultural or other responsibilities to perform in
relation to the death.</p>
<p class = "railway">h) The Employer may require the Employee to produce proof of any
bereavement where they seek to take bereavement leave.</p>
<p class = "railway">8.2 Public holidays</p>
<p class = "railway">a) The Employee is entitled to the public holidays in accordance with the
Holidays Act 2003.</p>

<p class = "railway">b) Because this is a casual individual employment agreement, if the
Employee agrees to work on a public holiday if requested by the
Employer, which would be a normal day of work the Employer shall pay
the Employee at the rate of one and a half times the Employee’s relevant
daily pay or average daily pay for time actually worked on the public
holiday. The Employee is also entitled to a paid alternative holiday for
working on a public holiday that falls on a day the Employee would
normally work.</p>
<p class = "railway">c) If the Employee works on a public holiday that is not a normal day of
work, the Employee will be paid at the rate agreed between the parties
and shall not receive any other entitlements.</p>
<p class = "railway">9. Further Information about Holidays Act Entitlements</p>
<p class = "railway">9.1 The Employee can obtain further information about entitlements under the
Holidays Act 2003 from the Department of labour’s Employment Relations
Infoline, 0800 800 863 or their website.</p>
<p class = "railway">10. Health and Safety</p>
<p class = "railway">10.1 The Employee must comply with all occupational health and safety statutory
obligations (and any other relevant legislation that may apply from time to
time), employer policies, procedures, rules, including drug and alcohol policies
that may apply from time to time, and any special work requirements while
carrying out work for the Employer.</p>
<p class = "railway">10.2 The Employee hereby specifically grants written consent (i) for drug and alcohol
test(s) to be conducted at any time and from time to time as per the Employer’s
drug and alcohol policies; (ii) for the release of the test results and associated
information, if any, to the Employer; and (iii) for the test results and associated
information, if any, to be used by the Employer according to its drug and alcohol
policies, copy of which the Employee hereby acknowledges he/she has already
received.</p>
<p class = "railway">10.3 The Employee will immediately report all work related injuries, accidents, near
misses (whether or not the accident or near miss took place on the Employer’s
premises) and hazards or potential hazards to the Employer. The Employee will
help complete any necessary records as required by the Employer.</p>
<p class = "railway">11. Vehicles Equipment and Damages</p>
<p class = "railway">11.1 The Employee shall:</p>
<p class = "railway">a) Remain fully qualified to drive and/or operate a vehicle or equipment.
<p class = "railway">b) Take good care of the vehicle or equipment.</p>
<p class = "railway">c) Ensure that any conditions of any insurance policy on the vehicle or
equipment are observed.</p>
<p class = "railway">d) Not permit the vehicle to be driven or equipment to be operated except
in accordance with the Employer’s instructions.</p>
<p class = "railway">e) Not drive any Employer’s vehicle in a manner or at a time that would be a
breach of laws including the law related to blood/alcohol content. </p>

<p class = "railway">f) Not drive any Employer’s vehicle under the influence of drugs, alcohol or
medication which in the Employer’s absolute discretion affects the
Employee’s ability to drive the vehicle.</p>
<p class = "railway">g) Not take non-Employees in the vehicle without the express approval of
the Employer.</p>
<p class = "railway">h) Be responsible for the payment of any traffic infringement fine that is
incurred whilst driving an Employer’s vehicle.</p>
<p class = "railway">11.2 The Employer reserves the right to recover all costs (including legal costs from
the Employee) where the vehicle or equipment has sustained damage and was
being used in such a manner that it is uninsured.</p>
<p class = "railway">11.3 The Employer reserves the right to claim from the Employee the amount of the
loss of an insurance no claims bonus or increase in insurance excess; and loss or
damage arising in circumstances where the Employer’s insurance cover is
voided due to the actions of the Employee, caused by or arising from the
actions (or non-actions) of the Employee.</p>
<p class = "railway">12. Confidential Information
The Employee shall not, whether during the currency of this agreement or after its
termination for whatever reason, use, disclose or distribute to any person or entity,
otherwise than as necessary for the proper performance of their duties and
responsibilities under this agreement, or as required by law, any confidential
information, messages, data or trade secrets acquired by the Employee in the course
of performing their services under this agreement. This includes, but is not limited to,
information about the Employers business.</p>

<p class = "railway">13. Redundancy
 Because this is a casual agreement, redundancy provisions do not apply.</p>
<p class = "railway">14. Termination of Employment
Due to the casual nature of this agreement there is no notice requirement by either
party and no redundancy payment is payable by the Employer.</p>
<p class = "railway">15. Obligations of Employee on Termination
Upon the termination of this agreement for whatever reason, or at any other time if
so requested by the Employer, the Employee shall immediately return to the Employer
all information, material or property either belonging to or the responsibility of the
Employer and all copies of that material, which are in the Employee’s possession or
under their control. 
</p>

<p class = "railway">16. Employment Relationship Problems</p>
<p class = "railway">16.1 If any employment issues arise, those should be raised with the Employer as
soon as possible so that they can be resolved. If the matter is not resolved
either party can seek assistance from the Department of labour’s mediation
service. If the issues are not resolved at mediation, they may be referred to the
Employment Relations Authority.</p>
<p class = "railway">16.2 If the issue is a personal grievance, the Employee must present that grievance
within 90 days of the event giving rise to the grievance, or after further time if
allowed by the Employer or where the Employment Relations Authority grants
an extension of time.</p>
<p class = "railway">17. Acknowledgement
The Employee acknowledges that:</p>
<p class = "railway">a) They have read these terms of employment and understand these terms
and their implications, and that they agree to be bound by these terms of
employment and the Employer’s policies and procedures as implemented
by the Employer from time to time.</p>
<p class = "railway">b) They have been advised of their right to take independent advice on the
terms of this agreement and have been provided with a reasonable
opportunity to take that advice</p>
<p class = "railway">c) That all representations and information, whether oral or in writing made
by them in applying for this position are true and complete; and</p>
<p class = "railway">d) They have disclosed to the Employer any injuries and/or illnesses
previously suffered that may affect their ability to effectively carry out
the functions and responsibilities of the position.</p>
<p class = "railway">e) If the information requested by the Employer relating to the above is not
supplied or if the information the Employee has supplied is found to be
incorrect or misleading, it shall be considered serious misconduct and the
Employee shall face disciplinary action, which may include termination of
this employment agreement.</p>
<p class = "railway">f) This agreement and its contents are confidential. The Employer and the
Employee or their authorised representatives will not communicate it or
any part of it to any other party. </p>
                      
                                        


        </div>
    
    </div>
</div>
