 <div class="row animated fadeIn">
         <div style="border-bottom:1px solid black;"class = "col s12 ">
        <p style="font-size:24px;" class = "center-align railway">Forgot Password</p>

    </div>
    <br>
    <form name ="resetForm" ng-submit="sendResetPasswordLink(resetData,resetForm.$valid,resetForm);"class="col s12">
      <div class="row">
          <div class= "col s2">
          </div>
        <div class="input-field col s8">
          <i class="material-icons prefix">account_circle</i>
          <input ng-disabled="disabled" name = "username"ng-model="resetData.username"login.id="icon_prefix" type="text" class="validate" required>
          <label for="icon_prefix">Username</label>
        </div>
         <div class= "col s2">
          </div>
      
      </div>
      
      <div class = "row">
        <div class = "col s12 center-align">
          <button ng-disabled="disabled" class ="waves-effect waves-light btn" type="submit">Submit</button>
          
<br>
        </div>
       
    </form>
    <div class = "row" ng-show="loading">
  <div class = "col s12">
    <div class = "center-align">
 <i style = "font-size:16px;"class="fa fa-cog fa-spin fa-3x fa-fw "></i>
    </div>
  </div>
</div>
    <div  class = "row animated " ng-class = "{'fadeIn':fadein,'fadeOut':!fadein}"  ng-show = "successfulPasswordResetEmailSent">
      <br>
      <div class = "row">
      <div class = "col s12">
      </div>
      </div>
    <div class = "col s12 green lighten-3 " >

     <p class = " railway center-align black-text " style="font-size:18px;">A Password Reset Link Has Been Sent To Your Email Address!</p>
     <br>
    </div>
  </div>
   
    <div  class = "row animated " ng-class = "{'fadeIn':fadein,'fadeOut':!fadein}" ng-show = "failedPasswordResetEmailSent">
      <div class = "row">
      <div class = "col s12">
      </div>
      </div>
    <div class = "col s12 red lighten-3" >
        <p class = " railway center-align black-text " style="font-size:18px;">{{errorMsg}}</p>
<br>
    </div>
  </div>
 </div>