<div class = "row">
  <div style="border-bottom:1px solid black;"class="col s12 center-align  ">
    <p class="railway underline" style="font-size:24px;">New Password</p>

  </div>
</div>
<div class="row">
    <div class = "col s2">
</div>
      <form name="regForm" ng-submit="reset.resetPassword(regData,regForm.$valid,regForm)" id="registrationForm" class="col s8" novalidate>

      <div class="input-field col s12 l12">
        <input ng-disabled="disabled"id="password" type="password" name="password" ng-model="reset.regData.password" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d]).{8,35}$/"ng-minLength = "8" ng-maxLength = "25" class="validate" required>
        <label for="password">Password</label>
        <p class="form-text animated fadeIn" ng-show="(!regForm.password.$pristine && regForm.password.$error.required) || (regForm.$submitted && regForm.password.$error.required)">This field is required</p>

        <p class = "animated fadeIn"   ng-show="!regForm.password.$pristine && regForm.password.$error.pattern">Must contain one uppercase letter, one lowercase letter, and a number...</p>
         <p class = "animated fadeIn"  ng-show = "(!regForm.password.$pristine && regForm.password.$error.minlength)||(!regForm.password.$pristine && regForm.password.$error.maxlength) ">Must be at least 8 characters and no longer than 35 each...</p>
      </div>
         <div class="row">
      <div class=" input-field col s12 center-align">
        <button ng-disabled="disabled" class="waves-effect waves-light grey btn center-align" type="submit">Submit!</button>
            <div ng-show="loading" class="col s12 center-align">
            <br>
            <br>
            
            <p class="railway animated flash infinite underline" style="font-size:18px;"> ( LOADING )</p>
            
        </div>
      </div>
    </div>
      </form>

<div class = "col s2">
</div>
          <div  class = "row animated " ng-class = "{'fadeIn':fadein,'fadeOut':!fadein}"  ng-show = "successfulPasswordReset">
      <br>
      <div class = "row">
      <div class = "col s12">
      </div>
      </div>
    <div class = "col s12 green lighten-3 " >

     <p class = " railway center-align black-text " style="font-size:18px;">Password Successfully Changed...Redirecting</p>
     <br>
    </div>
  </div>
            <div  class = "row animated " ng-class = "{'fadeIn':fadein,'fadeOut':!fadein}"  ng-show = "failedPasswordReset">
      <br>
      <div class = "row">
      <div class = "col s12">
      </div>
      </div>
    <div class = "col s12 green lighten-3 " >

     <p class = " railway center-align black-text " style="font-size:18px;">Password Reset Unsuccessful...</p>
     <br>
    </div>
  </div>
    </div>