
  <div class="parallax-container center-align">
       <div class="ptext animated fadeIn">
        <span class="border trans">
                <p id="title"> SERVICES</p>
                </span>
    </div>
    <div class="parallax"><img src="../img/background6small.jpg"></div>
  </div>
  <div class="section blue-grey darken-4">
    <div class="row container">
   
<p class="flow-text railway white-text" style="font-size:14px;"​>Quality Labour Hire Ltd provides General Labour/Crew and Skilled Crew for events all over Auckland and around the Auckland region. Our commitment to training and safety ensures your events are staffed with competent, enthusiastic and quick acting staff who deliver beyond expectations. All of our crew undergo rigorous inductions and training to ensure complete compliance with New Zealand health and safety regulations.</p>
<p class = "montserrat orange-text text-lighten-2"style=" font-size:20px;text-decoration:underline;">​We offer Skilled Crew for the following purposes:</p>
<ul style="list-style-type:circle;">
 <li class="white-text">   
Marquee setup and Stage builders - our experts erect and take down marquees efficiently with zero delays.
 </li>
<li class="white-text">Crew Chiefs - specialised in Live Events Supervising, Emergency First Aid and Health and Safety.</li>
<li class="white-text">Forklift/Cherry picker operators - Can provide crew that are fully qualified and can operate all sizes of machine.</li>
<li class="white-text">Runners, Valets and Qualified Drivers - conscientious, punctual, proactive and fully licenced for all categories of driving.</li>
<li class="white-text">Need a specific skill for your event?</li>
<li class="white-text">​Our labour recruitment expertise ensures we can deliver the expert to any event for any purpose. No matter what your needs, we take your specifics and hire only the most suitable crew. </li>

</ul>
<p class = "montserrat orange-text text-lighten-2"style=" font-size:20px;text-decoration:underline;">Our Recent Event Success</li>
​<p class="flow-text railway white-text " style="font-size:14px;"><a href="/contact"class="orange-text text-lighten-2">Contact</a> our friendly team to hear about our recent events and how we delivered beyond expectations.</p>

    </div>
  </div>
    <div class="parallax-container center-align">
      <div class="ptext">
        <span class="border trans">
                   
                     <p> AUCKLAND, CBD T8N 2X4</p>
                   <p><a href="tel:0292 009 016"> TEL| 0292 009 016</a></p>
                   <p><a href="tel:021 778 574"> MOBILE| 021 778 574</a></p>
                   <p><a href="mailto:hannah@qualitylabourhire.co.nz?Subject=Inquiry" target="_top"> EMAIL| hannah@qualitylabourhire.co.nz</a></p>
                   
                </span>
    </div>
    <div class="parallax"><img src="../img/backgroundsmall.jpg"></div>
  </div>
   <script>
    $(document).ready(function () {
       $('.parallax').parallax();
      console.log($('.tap-target'))
      /*Form Validation*/
          setTimeout(function () {

        //$('.tap-target').tapTarget('open');
        $('select').material_select();
        $('.carousel.carousel-slider').carousel({ fullWidth: true });
      }, 20000);

    
      /*Materialize initializations */
  
      //This method wasn't working
      // $('select').material_select();
      // $('select:not([multiple])').material_select();
      console.log($('select'))
      $('.carousel.carousel-slider').carousel({ fullWidth: true });

      $(".button-collapse").sideNav({
        menuWidth: 200, // Default is 300
        edge: 'left', // Choose the horizontal origin
        closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
        draggable: true // Choose whether you can drag to open on touch screens,

      }
      );

    })
  </script>