   <div class=" animated fadeIn carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <!--<a class="btn waves-effect white grey-text darken-text-2">button</a>-->
    </div>
    <div class="carousel-item white lighten-3 grey-text " href="#one!">
      <br>
      <br>
   
      <h2 class ="railway">Welcome to CLOUD Ltd
</h2>
      
      <p class = "railway">The labour hire specialists for your needs. Providing labour and staff for your events taking place in Auckland and NZ. We work together with you to meet the demands. Whether you are a venue, production company or supplier, we work to deliver the best labour hire experience. We have a strong and competent crew to work on projects year-round.</p>
    </div>

    <div class="carousel-item white lighten-4 grey-text " href="#two!">
      <h2 class = "railway">Short or Long Term, We Deliver It All</h2>
      <p class="railway">We supply crew for any period of time, from a few hours to a few days and can supplement your existing crew.</p>
    </div>
    <div class="carousel-item white grey-text " href="#three!">
      <br>
      <br>
      <h2 class ="railway">Third Panel</h2>
      <p class="white-text railway">This is your third panel</p>
    </div>
    <div class="carousel-item white grey-text " href="#four!">
       <br>
      <br>
      <h2 class ="railway">Fourth Panel</h2>
      <p class ="railway">This is your fourth panel</p>
    </div>
  </div>

        